<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('设备列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 组织机构
            </div>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" href="#" onclick="dept()" title="管理部门"><i class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>
<div class="ui-layout-center">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input type="hidden" id="deptId" name="deptId">
                    <input type="hidden" id="parentId" name="parentId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>设备编号：</p>
                                <input type="text" name="equipmentId"/>
                            </li>
                            <li>
                                <p>设备名称：</p>
                                <input type="text" name="equipmentName"/>
                            </li>
                            <li>
                                <p>设备类型：</p>
                                <select name="type" th:with="type=${@dict.getType('e_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>设备状态：</p>
                                <select name="eStatus" >
                                    <option value="">所有</option>
                                    <option value="0">正常</option>
                                    <option value="1">离线</option>
                                </select>
                            </li>
                            <li>
                                <p>报警状态：</p>
                                <select name="reportStatus" >
                                    <option value="">所有</option>
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </li>
                            <li>
                                <p>厂商：</p>
                                <input type="text" name="firm"/>
                            </li>
                            <li>
                                <p>地址：</p>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="equipment:detail:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="equipment:detail:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="equipment:detail:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="equipment:detail:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>
    <th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('equipment:detail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('equipment:detail:remove')}]];
        var prefix = ctx + "equipment/detail";
        var prefixData = ctx + "equipment/data";

        $(function() {
            var panehHidden = false;
            if ($(this).width() < 769) {
                panehHidden = true;
            }
            $('body').layout({ initClosed: panehHidden, west__size: 185 });
            queryDeptTree();

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                brokenLineUrl: prefix + "/brokenLine/{id}",
                modalName: "设备",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id',
                    title : 'id',
                    visible: false
                },
                    {
                        field : 'reportStatus',
                        title : 'reportStatus',
                        visible: false
                    },
                    {
                        field : 'eStatus',
                        title : '设备状态',
                        formatter : function (value,row,index) {
                            if(value == '0'){
                                return '<span class="badge badge-primary">在线</span>';
                            }
                            if(value == '1'){
                                return '<span class="badge badge-danger">离线</span>';
                            }
                        }
                    },
                {
                    field : 'equipmentId',
                    title : '设备编号'
                },
                {
                    field : 'equipmentName',
                    title : '设备名称'
                },
                    {
                        field : 'rs',
                        title : '报警状态',
                        formatter : function (value,row,index) {
                            if(row.reportStatus == '0'){
                                return '<span class="badge badge-primary">否</span>';
                            }
                            if(row.reportStatus == '1'){
                                return '<span class="badge badge-danger">是</span>';
                            }
                        }
                    },
                {
                    field : 'type',
                    title : '设备类型'
                },
                {
                    field : 'firm',
                    title : '厂商'
                },
                {
                    field : 'deptName',
                    title : '所属部门'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push(handleAlarm(row));
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="eData(\'' + row.equipmentId + '\')"><i class="fa fa-check-square-o"></i>数据</a> ');
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.brokenLine(\'' + row.id + '\')">详情</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 设备数据 */
        function eData(eid) {
            var url = prefixData+"/"+eid;
            $.modal.openTab("设备数据", url);
        }

        function queryDeptTree()
        {
            var url = ctx + "system/dept/treeData";
            var options = {
                url: url,
                expandLevel: 2,
                onClick : zOnClick
            };
            $.tree.init(options);

            function zOnClick(event, treeId, treeNode) {
                $("#deptId").val(treeNode.id);
                $("#parentId").val(treeNode.pId);
                $.table.search();
            }
        }

        $('#btnExpand').click(function() {
            $._tree.expandAll(true);
            $(this).hide();
            $('#btnCollapse').show();
        });

        $('#btnCollapse').click(function() {
            $._tree.expandAll(false);
            $(this).hide();
            $('#btnExpand').show();
        });

        $('#btnRefresh').click(function() {
            queryDeptTree();
        });
        var prefix = ctx + "equipment/detail";

        function handleAlarm(row) {
            if (row.reportStatus == '1') {
                return '<a class="btn btn-danger btn-xs ' + editFlag + '" href="#" title="处理"  onclick="handle(\'' + row.id + '\')"><i class="fa fa-play"></i>报警处理</a> ';
            } else {
                return '<a class="btn btn-danger btn-xs ' + editFlag + '" href="#" title="处理" onclick="note(\'' + row.id + '\')"><i class="fa fa-play"></i>报警处理</a> ';
            }
        }
        /*处理*/
        function handle(id) {
            $.modal.confirm("确认已经对报警做处理了吗？", function() {
                $.operate.post(prefix + "/handleAlarm", { "id": id});
            })
        }

        /*处理提示 */
        function note(id) {
            $.modal.confirm("设备暂无报警处理", function() {
                //$.operate.post(prefix + "/readParams", { "id": id});
            })
        }
    </script>
</body>
</html>
